<!DOCTYPE html>

<html>

<head>

	<title>Equipo3 chat Room</title>

	<link type="text/css" rel="stylesheet" href="../css/stylesheet.css" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">
	<link href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css" rel="stylesheet" />


</head>

<body>

	<header class="banner">

		<h1 class="bannertext">
			<a href="#" id="logo">Equipo3<span> Chat Room</span></a>
		</h1>

	</header>


	<section class="section">

		<div class="connected">
			<div id="alerter" style="">
			<img src="../img/unnamed.jpg" id="creatorImage" class="droppable" />
			</div>
			<div class="infoConnected">
				<h2>Quien eres?</h2>
				<br/>

				<form class="loginForm">
					<input type="text" id="yourName" placeholder="Tu Nombre" /><br/>
					<input type="text" id="yourEmail" placeholder="Tu correo (de aspel)" /><br/>
					<input type="submit" id="yourEnter" value="ENTER" />
				</form>

			</div>

		</div>

		<div class="personinside">
			
			<img src="../img/unnamed.jpg" id="ownerImage"  />

			<div class="infoInside">
				<h2>Chateando Con <span class="nickname-chat"></span>, Quien eres?</h2>
				<br/>

				<form class="loginForm">
					<input type="text" id="hisName" placeholder="Tu Nombre" /><br/>
					<input type="text" id="hisEmail" placeholder="Tu correo (de aspel)" /><br/>
					<input type="submit" id="hisEnter" value="Entrar" />
				</form>

			</div>

		</div>

		<div class="invite-textfield">

			<h2>¡Vaya, no hay otras personas en este chat!</h2>
			<h5>Invita a un amigo enviándoles esta URL</h5>

			<div class="link">
				<a title="Invite a friend" href="" id="link"></a>
			</div>

		</div>

		<div class="left">

			<img src="../img/unnamed.jpg" id="leftImage" />

			<div class="info">
				<h2><span class="nickname-left"></span> Ha dejado este chat.</h2>
				<h5>Invite a otra persona enviándoles esta página.</h5>
			</div>

		</div>

		<div class="toomanypeople">

			<h2>Ups, no puedes unirte a este chat!</h2>
			<h5>Ya hay dos personas en ella. ¿Desea crear una <a title="New Room" href="/create" id="room">nueva sala de chat</a>?</h5>

		</div>

		<div class="nomessages">

			<img src="../img/unnamed.jpg" id="noMessagesImage" />
			<div class="container">			

			</div>
			<div class="info">
				<h2>Estás Chateando con <span class="nickname-chat"></span>.</h2>
				<h5>Envíele un mensaje desde el formulario de abajo!</h5>
			</div>

		</div>

		<div class="chatscreen">

			<ul class="chats">
			</ul>

		</div>

	</section>

	<footer>
		<input type="submit" value=":)">
		<form id="chatform">
			<a href="JavaScript:void(0);" onclick="showEmoticons();"><img src="/img/Emoticons/risa.png" height="30px" whidth="30px" style="margin-left: 55px;" /></a>
			<textarea id="message" placeholder="Escribe cualquer cosa.."></textarea>
			<input type="submit" id="submit" value="Enviar" />

		</form>

	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
	<script src="../js/moment.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="../js/chat.js"></script>
	<script src="../js/dragdrop.js"></script>
	<script>
	//$(document).ready(function() {
	//	$("#creatorImage").draggable();	
	//});
	


		
	</script>
</body>

</html>